/* color palette */
:root {
  --th-white: #ffffff;
  --th-black: #555555;
  --th-gray: #f4f4f6;
  --th-teal: #58B1BE;
  --th-blue: #587EBE;
  --th-red: #BE6558;

  --th-text-light: var(--th-white);
  --th-text-dark: var(--th-black);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--th-white);
  --color-text: var(--th-text-dark);
}

/* more root variables */
:root {
  font-size: 18px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
}

.space-mono {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Space Mono", monospace;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: clamp(1rem, 1rem + 2.0vw, 3rem);
  color: var(--th-red);
}

h2 {
  font-weight: 700;
  font-size: clamp(1rem, 1rem + 1.5vw, 2rem);
  color: var(--th-blue);
}

p {
  font-size: 1rem;
  line-height: 2;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--th-black);
}