@import './reset.css';
@import './base.css';
@import './locomotive-scroll.css';

#app {
  margin: 0 auto;
  width: 100vw;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

html:has(.requires-no-scroll),
body:has(.requires-no-scroll) {
  height: 100%;
  overflow: hidden;
}

.fade-in-container {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
}

.animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition:
    opacity 0.9s ease-in,
    transform 0.9s ease-in;
}