@import './reset.css';
@import './base.css';

#app {
  margin: 0 auto;
  width: 100vw;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}